[submodule "Computudos-Simulator"]
	path = StudyProjects/Computudos-Simulator
	url = git@github.com:gab-simon/Computudos-Simulator.git
[submodule "StudyProjects/Computudos-Simulator"]
	path = StudyProjects/Computudos-Simulator
	url = git@github.com:gab-simon/Computudos-Simulator.git
[submodule "StudyProjects/naive-robot-tracker"]
	path = StudyProjects/naive-robot-tracker
	url = git@github.com:diogohal/naive-robot-tracker.git
[submodule "StudyProjects/intensity-map-similarity-measures"]
	path = StudyProjects/intensity-map-similarity-measures
	url = git@github.com:diogohal/intensity-map-similarity-measures.git
